<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="userActive && showHeader">
  <div class="navbar-nav header-logo">
    <img class="logoImgHeader" src="assets/logo.png" a routerLink="/">
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="!userActive && showHeader">
  <div class="navbar-nav">
    <img class="logoImgHeader" src="assets/logo.png" >
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/login">Login</a>
    <a class="nav-item nav-link" routerLink="/register">Register</a>
  </div>
</nav>