<div class="column1 behind">
</div>

<div class="column2">
  <img class="logoImg" src="assets/logo.png" a routerLink="/">
  <br>
  <h1>Confirm Password</h1>
  <form [formGroup]="confirmPasswordForm">
    <div class="form-group">
      <input type="password" formControlName="password" placeholder="New Password *" class="form-control"
        [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
      <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
        <div *ngIf="f.password.errors.pattern">Your password must be at least 6 characters long, contain at least one
          number and have a mixture of uppercase and lowercase letters.</div>
        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        <div *ngIf="f.password.errors.mustMatch"> Passwords must be same</div>
      </div>
    </div>
    <div class="form-group">
      <input type="password" formControlName="confirmpassword" onCopy="return false" onDrag="return false"
        onDrop="return false" onPaste="return false" placeholder="Re-enter Password *" class="form-control"
        [ngClass]="{ 'is-invalid': f.confirmpassword.touched && f.confirmpassword.errors }" />
      <div *ngIf="f.confirmpassword.touched && f.confirmpassword.errors" class="invalid-feedback">
        <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
        <div *ngIf="f.confirmpassword.errors.pattern">Your password must be at least 6 characters long, contain at least
          one number and have a mixture of uppercase and lowercase letters.</div>
        <div *ngIf="f.confirmpassword.errors.minlength">Confirm Password must be at least 6 characters</div>
        <div *ngIf="f.confirmpassword.errors.mustMatch"> Passwords must be same</div>
      </div>
    </div>
    <button class="btn btn-primary login" (click)="onSubmit()">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Confirm Password
  </button>
  </form>
</div>