


<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" >
  <img class="logo" src="../assets/logo.png">
      <ul class="nav navbar-nav navbar-right">
         <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  <span class="head">LMS User</span>
   <div class="card card-5">
    <div class="row content">

    <div class="col-sm-11 text-left">             
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Is active</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
      </tr>
     
    </tbody>
  </table>
</div>

 
  </div>
</div>

<span class="head">CMS User</span>
   <div class="card card-5">
    <div class="row content">

    <div class="col-sm-11 text-left">             
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Is active</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>john@example.com</td>
      </tr>
     
    </tbody>
  </table>
</div>

 
  </div>
</div>