<br><br>
<div class="courseView">

  <div class="modules-brief">
    <div class="modules-brief--col1">
      <img class="modules-brief-image" src="assets/course.jpg">
      <div class="module-brief-title">{{course.display_name}}</div>
      <div class="module-brief-org">Organization : {{course.org}} </div>
      <div class="module-brief-number">Number : {{course.number}}</div>
    </div>
    <img class="modules-brief-time" src="assets/time.png">
    <div class="module-brief-duration">Duration : {{course.run}}</div>
  </div>
</div>

<div class="modules-brief-description" id="coursediv">
  {{course.course_description}}
  <br/>
  <!-- <div id="sectiondiv" class="modules-brief sectionclass" ng-show = "IsVisible">
    <div>
      <input type="text" name="add_section" formControlName="add_section" placeholder="Add Section*" class="form-control"
      />
    </div>
    <br/>
    <section><button (click)="CreateNewSubSection()">New SubSection</button></section>
    <br/>

    <div id="subsectiondiv" class="modules-brief subsectionclass" ng-show = "IsVisible">
      <div>
        <input type="text" name="add_sub_section" formControlName="add_sub_section" placeholder="Add Sub Section*" class="form-control"
        />
      </div>
      <br/>
      <section><button (click)="CreateNewUnit()">New Unit</button></section>
    </div>

    <br/>

</div> -->
<footer><button (click)="CreateNewSection()">New Section</button></footer>
</div>



 <!-- <div class="add-section add-item">
  <a href="#" class="button button-new" data-default-name="Section" title="Click to add a new Section">
    <span class="icon fa fa-plus" aria-hidden="true"></span>New Section
 </a>
</div> -->
