<!-- <h1 *ngIf = "users">Hi {{currentUser.firstName}}!</h1>
<p *ngIf = "users"> You're logged in with Angular 7!!</p>
<h3 *ngIf = "users">All registered users:</h3>
<ul *ngIf = "users" >
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
<!-- <app-header [userActive] = "currentUser"></app-header> -->
<!-- {{currentUser}}-->
<!-- <div class="paddingTop"></div> -->
<div>
    <p class="learning">Become a PRO!</p>
    <p class="investment colorGold">An Investment for Knowledge Pays with the Best Interest</p>
    <img class="learnImg" src="../../assets/learn.jpg">
</div>
<br>
<div class="exploreBar">
    Explore our Programs
</div>

<br>
<div class="rowforGrid">
    <div class="columnforGrid">
        <div class="ex1">
            <div class="ex2">
                <div class="eximg">
                    <img class="eximg" src="../../assets/course.jpg">
                </div>
                <div class="exp">
                    <div class="soon">Coming Soon...</div>
                </div>
                <div class="soon">Coming Soon...</div>
            </div>
        </div>
    </div>
    <div class="columnforGrid">
        <div class="ex1">
            <div class="ex2">
                <div class="eximg">
                    <img class="eximg" src="../../assets/course.jpg">
                </div>
                <div class="exp">
                    <div class="soon">Coming Soon...</div>
                </div>
                <div class="soon">Coming Soon...</div>
            </div>
        </div>
    </div>
    <div class="columnforGrid">
        <div class="ex1">
            <div class="ex2">
                <div class="eximg">
                    <img class="eximg" src="../../assets/course.jpg">
                </div>
                <div class="exp">
                    <div class="soon">Coming Soon...</div>
                </div>
                <div class="soon">Coming Soon...</div>
            </div>
        </div>
    </div>

</div>


<!-- <h3  routerLink="/CmsHome">Want to be Course creator ?</h3> -->