<!-- <h1 *ngIf = "users">Hi {{currentUser.firstName}}!</h1>
<p *ngIf = "users"> You're logged in with Angular 7!!</p>
<h3 *ngIf = "users">All registered users:</h3>
<ul *ngIf = "users" >
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->
<!-- <app-header [userActive] = "activeUser"></app-header> -->
<!-- {{currentUser}}-->
<h1 *ngIf = "currentUser == null" text-center>Please login to continue</h1>
<h1 *ngIf = "currentUser != null" text-center>Please wait to see courses</h1> 