<div class="column1 behind">
</div>

<div class="column2">
    <img class="logoImg" src="assets/logo.png" a routerLink="/">
    <br>
    <h1>Forget Password</h1>
    <form [formGroup]="ForgetPasswordForm">
        <div class="form-group">
            <input type="text" name="username" formControlName="email" placeholder="Email *" class="form-control"
                [ngClass]="{ 'is-invalid': f.email.touched && (f.email.errors) }" />
            <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Email pattern is invalid</div>
            </div>
        </div>
        <button class="btn btn-primary login" (ngSubmit)="onSubmit()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Reset Password
        </button><br>
    </form>
</div>