<div class="column1 behind">
</div>

<div class="column2">
    <img class="logoImg" src="assets/logo.png" a routerLink="/">
    <br>
    <h1>Sign Up</h1>
    <form [formGroup]="registerForm" >
        <div class="form-group">
           
            <input type="text" formControlName="name" name = "firstName" placeholder="First Name *" class="form-control"
                [ngClass]="{ 'is-invalid': f.name.touched && f.name.errors }" />
            <div *ngIf="f.name.touched && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">First Name is required</div>
                <div *ngIf="f.name.errors.pattern">First Name is invalid</div>
                <div *ngIf="f.name.errors.minlength">First Name must be 3 characters long </div>
                <div *ngIf="f.name.errors.maxlength">First Name must be 100 maximum of characters</div>
                <!-- {{f.firstName.errors | json}} -->
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="username" placeholder="Last Name *" class="form-control"
                [ngClass]="{ 'is-invalid': f.username.touched && f.username.errors }" />
            <div *ngIf="f.username.touched && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Last Name is required</div>
                <div *ngIf="f.username.errors.pattern">Last Name is invalid</div>
                <div *ngIf="f.username.errors.minlength">Last Name must be 3 characters long </div>
                <div *ngIf="f.username.errors.maxlength">Last Name must be 100 maximum of characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="mobile" placeholder="Mobile *" class="form-control"
                [ngClass]="{ 'is-invalid': f.mobile.touched && f.mobile.errors }" />
            <div *ngIf="f.mobile.touched && f.mobile.errors" class="invalid-feedback">
                <div *ngIf="f.mobile.errors.required">Mobile is required</div>
                <div *ngIf="f.mobile.errors.pattern">Mobile is invalid</div>
                <div *ngIf="f.mobile.errors.minlength || f.mobile.errors.maxlength">Mobile must be 10 digits</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="email" placeholder="Email *" class="form-control"
                [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }" required />
            <div *ngIf="f.email.touched && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Email is required</div>
                <div *ngIf="f.email.errors.pattern">Email pattern is invalid</div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" formControlName="organization" placeholder="Organization Name *" class="form-control"
                [ngClass]="{ 'is-invalid': f.organization.touched && f.organization.errors }" />
            <div *ngIf="f.organization.touched && f.organization.errors" class="invalid-feedback">
                <div *ngIf="f.organization.errors.required">Organization name is required</div>
                <div *ngIf="f.organization.errors.pattern">Organization Name is invalid</div>
                <div *ngIf="f.organization.errors.minlength">Organization Name must be 3 characters long </div>
                <div *ngIf="f.organization.errors.maxlength">Organization Name must be 100 maximum of characters</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="password" placeholder="Password *" class="form-control"
                [ngClass]="{ 'is-invalid': f.password.touched && f.password.errors }" />
            <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
                <div *ngIf="f.password.errors.pattern">Your password must be at least 6 characters long, contain at least one number and have a mixture of uppercase and lowercase letters.</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                <div *ngIf="f.password.errors.mustMatch"> Passwords must be same</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" formControlName="confirmpassword" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" placeholder="Confirm Password *"
                class="form-control" [ngClass]="{ 'is-invalid': f.confirmpassword.touched && f.confirmpassword.errors }" />
            <div *ngIf="f.confirmpassword.touched && f.confirmpassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmpassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmpassword.errors.pattern">Your password must be at least 6 characters long, contain at least one number and have a mixture of uppercase and lowercase letters.</div>
                <div *ngIf="f.confirmpassword.errors.minlength">Confirm Password must be at least 6 characters</div>
                <div *ngIf="f.confirmpassword.errors.mustMatch"> Passwords must be same</div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="onSubmit()">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign Up
        </button>
        <h4>Already have an account ? <a routerLink="/login" class="btn-link">Login</a></h4>
    </form>
</div>