<!-- <div class="paddingTop"></div> -->
<div>
    <p class="learning cmsHome colorGold">Deliver Inspiring <br>Learning Experiences<br>
        <button *ngIf = "currentUser == 'true'" class="createCourse" routerLink="/courseCreation">
            Create course
          </button></p>
   
    <!-- <p class="investment colorGold">Deliver Inspiring Learning Experiences</p> -->
    <img class="learnImg" src="../../assets/bulb.jpg">
</div>
<br>
<div *ngIf = "currentUser == 'true'" >
    <div class="exploreBar">
        My Programs
    </div>
    <br>
    <div class="rowforGrid">
        <div class="columnforGrid" *ngFor = "let c of allCourses" (click) = "gotoCourse(c._id)">
            <div class="ex1">
                <div class="ex2">
                    <div class="eximg">
                        <img class="eximg" src="../../assets/course.jpg">
                    </div>
                    <div class="exp">
                        <div class="soon">{{c.display_name}}</div>
                    </div>
                    <div class="crc_det">Organizaiton: {{c.org}}</div>
                    <div class="crc_det">Number : {{c.number}}</div>
                    <div class="crc_det">Duration : {{c.run}}</div>
                </div>
            </div>
        </div>
        <!-- <div class="columnforGrid">
            <div class="ex1">
                <div class="ex2">
                    <div class="eximg">
                        <img class="eximg" src="../../assets/course.jpg">
                    </div>
                    <div class="exp">
                        <div class="soon">Coming Soon...</div>
                    </div>
                    <div class="soon">Coming Soon...</div>
                </div>
            </div>
        </div>
        <div class="columnforGrid">
            <div class="ex1">
                <div class="ex2">
                    <div class="eximg">
                        <img class="eximg" src="../../assets/course.jpg">
                    </div>
                    <div class="exp">
                        <div class="soon">Coming Soon...</div>
                    </div>
                    <div class="soon">Coming Soon...</div>
                </div>
            </div>
        </div> -->
    
    </div>
</div>
