.courseheading{
    text-align: center;
    color: #007bff;
    font-size: 30px;
    padding: 10px;
    font-weight: 100 !important;
    background-color: azure !important;
    border: 1px solid #cac8c4;
}
.imagefield {
    width: 101% !important;
    margin-left: 23% !important;
    margin-top: 5px;
}
.coursebutton {
    width: 10% !important;
    padding: 8px !important;
    background-color: #007bff !important;
    color: white;
    padding: 14px 20px;
    margin: 8px 10px !important;
    font-size: 2rem !important;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border-radius: 2.25em !important;
    font-weight: 600;
}
.textsize{
    font-size: 14px;
    margin-bottom: 20px;
    color: #514e4e;
}
.form-control {
    width: 50% !important;
}